<div class=contain>
<h2>Podcast Episodes:</h2>
<iframe src="https://anchor.fm/2v1podcast/embed/episodes/Episode-1-NFL-Draft-Talk-e10oint" height="102px" width="400px" frameborder="0" scrolling="no"></iframe>




<!-- <ul class="heroes">
    <li *ngFor="let episode of episodes"
    [class.selected] = "episode === selectedEpisode"
    (click)="onSelect(episode)">
    <span class="badge">{{episode.id}}</span> {{episode.name}}
  </li>
</ul> -->
<!-- <app-episode-details [episode]="selectedEpisode"></app-episode-details> -->
</div>