<head>
  <style>
    div{
    background-image: url(../assets/blue-logo2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 63.86%;
    position:relative
    }
    .other{
      position:absolute; top:0; bottom:0; left:0; right:0;
    }
    
    
  </style>
</head>
<!-- <div> -->
<!-- <app-episodes></app-episodes> -->

<!-- <nav>
  <h1>{{title}}</h1>
  
  <a routerLink="/about-us">About Us</a>
  <a routerLink="/our-project">Our Project</a>
  <a routerLink="/episodes">Episodes</a>
  <a routerLink="/home">Home</a>
</nav> -->
<ul class="topnav">
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/episodes">Episodes</a></li>
  <li><a routerLink="/our-project">Our Project</a></li>
  <li><a routerLink="/about-us">About Us</a></li>
</ul>

<!-- <div class=space></div> -->
<!-- <h1>{{title}}</h1> -->
<router-outlet></router-outlet>
<!-- </div> -->
