div.home {
margin-left: 50px;
margin-top: 10%;
}
h1 {
    margin-bottom: 0;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 53px;
  }
  .button {
  border: none;
  color: white;
  background-color: #1B456B;
  padding: 60px 108px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  }

  @media screen and (max-width: 600px){
   div.home{
     margin-left:10px;
   }
    .button {
      border: none;
  color: white;
  background-color: #1B456B;
  padding: 16px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin:0;
  cursor: pointer;
    }
    h1{
      margin:0;
      font-size:20;
      color:white;
    }
  }